extends ../layouts/layout

block content
  p#notice

  each n in ['gps.name','gps.location']
    p
      strong #{n.split('.')[1]}:
      span #{eval(n)}

  a(href='/gps/#{ gps._id}/edit') Edit
  span |
  a(href='/gps') Back